@import "compass/css3";

$light-color: #fff;
$dark-color: #111111;
$primary-color: #e8bf5d;

$primary-font-family: "Playfair Display", serif;
$secondary-font-family: "Open Sans", sans-serif;
$primary-font: normal 25px/1.25 $primary-font-family;
$secondary-font: normal 14px/1.25 $secondary-font-family;
$font-icon: "FontAwesome";
$font-color: #111111;

// Media queries breakpoints
// --------------------------------------------------

// Extra small screen / phone
$screen-xs: 480px !default;
$screen-phone: $screen-xs !default;

// Small screen / tablet
$screen-sm: 768px !default;
$screen-tablet: $screen-sm !default;

// Medium screen / desktop
$screen-md: 992px !default;
$screen-desktop: $screen-md !default;

// Large screen / wide desktop
$screen-lg: 1200px !default;
$screen-lg-desktop: $screen-lg !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max: ($screen-sm - 1) !default;
$screen-sm-max: ($screen-md - 1) !default;
$screen-md-max: ($screen-lg - 1) !default;

$section-height: 60vh;


$one-third: linear-gradient(90deg, transparent, transparent calc(100% / 3), rgba($dark-color, 0.3) calc(100% / 3 + 1px), transparent calc(100% / 3 + 1px));
$two-thirds: linear-gradient(90deg, transparent, transparent calc(100% / 3 * 2 - 1px), rgba($dark-color, 0.3) calc(100% / 3 * 2), transparent calc(100% / 3 * 2 - 1px));
$one-fourth: linear-gradient(90deg, transparent, transparent calc(100% / 4), rgba($dark-color, 0.3) calc(100% / 4 + 1px), transparent calc(100% / 4 + 1px));
$half: linear-gradient(90deg, transparent, transparent calc(100% / 2), rgba($dark-color, 0.3) calc(100% / 2 + 1px), transparent calc(100% / 2 + 1px));
$three-fourth: linear-gradient(90deg, transparent, transparent calc(100% / 4 * 3 - 1px), rgba($dark-color, 0.3) calc(100% / 4 * 3), transparent calc(100% / 4 * 3 - 1px));

$first-last: (
  linear-gradient(90deg, transparent, transparent 0, rgba($dark-color, 0.3) 1px, transparent 1px),
  linear-gradient(90deg, transparent, transparent calc(100% - 1px), rgba($dark-color, 0.3) 100%, transparent 100%),
);

@mixin lines {
  background-image: $first-last, $one-fourth, $one-third, $half, $two-thirds, $three-fourth;
}