@import "_variables";

body {
  font: $primary-font;
  color: $font-color;
  margin: 0;
  padding: 0;
  counter-reset: myCounter;
}

a,
button {
  text-decoration: none;
  color: $font-color;
  background-color: transparent;
}

ul {
  padding: 0;
}

section {
  width: 100%;
}

button {
  outline: none;
  border: none;
  background-color: #0000;
  font-size: 1em;
  cursor: pointer;
}

.decorator {
  padding: 2.5em 0;
  @media (max-width: $screen-md) {
    margin: 0 5vw;
  }
}

.nav-menu {
  display: flex;
  text-transform: uppercase;
  padding: 20px 0;
  position: relative;
  &__links {
    display: flex;
    font: $secondary-font;
    margin-left: auto;
    margin-right: 1em;
    padding: 0.5em 0;
    z-index: 4;
    @media (max-width: $screen-md) {
      position: absolute;
      display: flex;
      margin: 0;
      background-color: $light-color;
      flex-direction: column;
      top: 100%;
      padding: 1em;
      transition: left 1s;
      left: -100%;
    }
    @media (max-width: $screen-xs) {
      width: calc(100% - 2em);
    }
    &--show {
      @media (max-width: $screen-md) {
        transition: left 1s;
        left: 0;
      }
    }
    a {
      margin: 0 1em;
      padding: 5px 0;
      border-bottom: solid transparent 5px;
      @media (max-width: $screen-md) {
        width: max-content;
      }
      &:hover {
        border-color: $primary-color;
        transition: border 0.5s ease-out;
      }
    }
  }
  &__logo {
    font-weight: 600;
    margin: 0 1em;
    span {
      color: $primary-color;
    }
    @media (max-width: $screen-xs) {
      margin: 0 auto;
    }
  }
  &__bars {
    margin: 0 1em;
    &:hover {
      color: $primary-color;
    }
    @media (max-width: $screen-xs) {
      margin: 0 5px;
    }
    @media (min-width: $screen-md) {
      display: none;
    }
    &:before {
      content: "";
      position: absolute;
      height: calc(100% + 1px);
      width: 100px;
      left: 0;
      top: 0;
      @media (max-width: $screen-xs) {
        width: 15vw;
      }
    }
  }
}

.accesibility {
  position: relative;
  margin-left: auto;
  display: flex;
  @media (max-width: $screen-md) {
    margin-right: 1em;
  }
  @media (max-width: $screen-xs) {
    margin-right: 5px;
  }
  &__contrast {
    padding-left: 1em;
    @media (max-width: $screen-xs) {
      padding-left: 10px;
    }
  }
  &__sizing-menu {
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
    top: calc(20px + 100%);
    background-color: $light-color;
    border: 1px solid rgba($dark-color, 0.3);
    border-top-color: rgba($dark-color, 0.1);
    z-index: 5;
    visibility: collapse;
    &--show {
      visibility: visible;
    }
  }
  &__main-btn {
    width: 50px;
    &::before {
      content: "";
      position: absolute;
      height: 51px;
      width: inherit;
      left: 0;
      top: 0;
    }
  }
  &__sizing-btn {
    font-family: $primary-font-family;
    margin-right: auto;
    transition: color 0.5s ease-out;
    &:hover {
      color: $primary-color;
      transition: color 0.5s ease-out;
    }
    & span {
      font-size: 15px;
      vertical-align: middle;
    }
    &--contrast {
      padding: 0 0 0 1em;
      @media (max-width: $screen-xs) {
        padding-left: 10px;
      }
    }
  }
}

.section {
  min-height: 60vh;
  &--hero {
    color: $light-color;
  }
  &--dark {
    background-color: $dark-color;
    color: rgba($light-color, 0.8);
    counter-increment: myCounter;
    h2,
    h3 {
      color: rgba($light-color, 0.8);
    }
    p {
      color: rgba($light-color, 0.7);
    }
  }
  &--light {
    background-color: $light-color;
    color: $dark-color;
    counter-increment: myCounter;
    h2,
    h3 {
      color: $dark-color;
    }
    p {
      color: rgba($dark-color, 0.8);
    }
  }

  &__header {
    font-family: $primary-font-family;
    position: relative;
    width: 70%;
    margin: 0 1em 1.5em 0.5em;
    &:before {
      content: "";
      background: $primary-color;
      position: absolute;
      bottom: 0.2em;
      left: -0.5em;
      height: 95%;
      width: 2px;
    }
    &:after {
      content: counter(myCounter);
      font-family: $secondary-font-family;
      position: absolute;
      font-weight: 10em;
      font-size: 180px;
      z-index: -1;
      top: -45px;
      color: rgba($dark-color, 0.1);
    }
    & h2 {
      font-size: 1.3em;
      font-weight: 600;
      margin: 0;
    }
    & h3 {
      font-size: 0.7em;
      margin: 0;
      letter-spacing: 2px;
      font-weight: 300;
    }
    &--hero {
      h2 {
        font-size: 2em;
      }
      h3 {
        font-family: $secondary-font-family;
      }
    }
  }
  &__images {
    display: grid;
    grid-template-columns: 1;
    line-height: 1;
    transition: opacity 0.5s ease-out;
    @media (min-width: $screen-sm) {
      grid-template-columns: repeat(2, 45%);
      grid-gap: 10%;
    }
    @media (min-width: $screen-md) {
      grid-template-columns: repeat(4, 20%);
      grid-gap: 5%;
    }
    & a {
      margin-bottom: 1em;
    }

    & a:hover img {
      transition: opacity 0.5s ease-out;
      opacity: 0.7;
    }

    & img {
      max-width: 100%;
      object-fit: cover;
      height: 100%;
      min-width: 100%;
      max-height: calc(85vh / 3);
      min-height: 300px;
    }
    & h3 {
      margin: 0.5em 0 0;
      font-size: 1em;
      transition: color 0.5s ease-out;
      &:hover {
        transition: color 0.5s ease-out;
        color: $primary-color;
      }
    }
    & span {
      color: rgba($dark-color, 0.8);
      font-size: 0.6em;
      font-family: $secondary-font-family;
    }
  }
}

.hero {
  position: absolute;
  bottom: 10%;
  display: flex;
  @media (max-width: $screen-md) {
    flex-direction: column;
  }

  &__btn {
    margin: auto;
    @media (max-width: $screen-md) {
      margin-left: 10vw;
      margin-bottom: 1em;
    }
  }

  &__text {
    font-family: $primary-font-family;
    position: relative;
    width: 60%;
    margin: auto;
    @media (max-width: $screen-md) {
      margin-left: 10vw;
      margin-bottom: 1em;
    }
    &:before {
      content: "";
      background: $primary-color;
      position: absolute;
      bottom: 0.2em;
      left: -0.5em;
      height: 80%;
      width: 2px;
    }
    h2 {
      font-size: 2em;
      margin: 0;
    }
    p {
      font-size: 1em;
      margin: 0;
      font-family: $secondary-font-family;
    }
  }
}

.button {
  &__primary {
    font-family: $primary-font-family;
    font-size: 0.7em;
    background-color: $primary-color;
    border-radius: 20px;
    color: $dark-color;
    padding: 1em 3em;
    font-weight: 600;
    &:hover {
      background-color: rgba($primary-color, 0.8);
    }
  }
}

.container {
  margin: auto;
  width: 100%;
  @media (min-width: $screen-md) {
    max-width: 960px;
  }
  @media (min-width: $screen-lg) {
    max-width: 1140px;
  }
}

.lines {
  @media (min-width: $screen-md) {
    min-height: inherit;
    transform: translate3d(0, 0, 0);
    &--light {
      @include light-lines;
    }
    &--dark {
      @include dark-lines;
    }
  }
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 30px;
  @media (min-width: $screen-md) {
    grid-template-columns: repeat(2, 1fr);
  }
  &__card {
    display: grid;
    grid-template-columns: auto;
    @media (min-width: $screen-md) {
      grid-template-columns: 30% auto;
    }
  }
  &__icon {
    color: $primary-color;
    margin: auto;
    @media (min-width: $screen-md) {
      margin: 0 0 auto auto;
    }
  }
  &__descripton {
    margin-left: 1em;
    h3 {
      margin: 0;
      font-size: 1em;
    }
    p {
      font-family: $secondary-font-family;
      font-size: 0.6em;
      line-height: 1.5;
    }
  }
}

.columns {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  @media (max-width: $screen-md) {
    grid-template-columns: 1fr;
  }
  &__header {
    font-weight: 600;
    font-size: 1em;
  }
  &__column {
    padding: 1em 1em 1em 0;
  }
  &__paragraph {
    font-size: 0.6em;
    line-height: 2;
    font-family: $secondary-font-family;
    color: rgba($dark-color, 0.6);
    font-weight: 600;
  }
}

.list-year {
  list-style: none;
  font-family: $secondary-font-family;
  &__entry {
    display: inline-flex;
    font-size: 0.7em;
  }
  &__year {
    margin: auto;
    font-weight: 600;
    white-space: nowrap;
  }
  &__content {
    margin: 1em;
  }
}
