@font-face {
  font-family: "Open Sans", sans-serif;
  src: url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700);
  font-display: block; }
@font-face {
  font-family: "Playfair Display", serif;
  src: url(https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700;800);
  font-display: block; }
/* colors */
:root {
  --light-color: 255, 255, 255;
  --dark-color: 17, 17, 17;
  --primary-color: 232, 191, 93;
  --light-background-color: --light-color;
  --dark-background-color: --dark-color;
  --light-font-color: --light-color;
  --dark-font-color: --dark-color;
  --primary-font-color: --primary-color;
  --primary-font-size: 25px;
  --secondary-font-size: 14px;
  --dark-background-lines: var(--light-color);
  --light-background-lines: var(--dark-color); }

/* fonts */
/* sizing */
/* background linear-gradient */
html {
  scroll-behavior: smooth; }

body {
  font: normal var(--primary-font-size)/1.25 "Playfair Display", serif;
  color: rgba(var(--dark-font-color), 1);
  margin: 0;
  padding: 0;
  counter-reset: myCounter; }

body.contrast {
  --primary-color: 232, 191, 93;
  --light-background-color: 17, 17, 17;
  --light-font-color: 232, 191, 93;
  --dark-font-color: 232, 191, 93;
  --dark-background-lines: 17, 17, 17;
  --light-background-lines: 17, 17, 17; }

body.sizing-large {
  --primary-font-size: 26px;
  --secondary-font-size: 15px; }

body.sizing-larger {
  --primary-font-size: 28px;
  --secondary-font-size: 16px; }

header {
  background-color: rgb(var(--light-background-color)); }

a,
button {
  text-decoration: none;
  color: rgb(var(--dark-font-color));
  background-color: transparent; }

ul {
  padding: 0; }

section {
  width: 100%; }

button {
  outline: none;
  border: none;
  font-size: 1em;
  cursor: pointer; }

.decorator {
  padding: 2.5em 0; }
  @media (max-width: 992px) {
    .decorator {
      margin: 0 5vw; } }

.nav-menu {
  display: flex;
  text-transform: uppercase;
  padding: 20px 0;
  position: relative; }
  .nav-menu__links {
    display: flex;
    margin-left: auto;
    margin-right: 1em;
    padding: 0;
    z-index: 4; }
    @media (max-width: 992px) {
      .nav-menu__links {
        position: absolute;
        display: flex;
        margin: 0;
        background-color: rgb(var(--light-background-color));
        flex-direction: column;
        top: 100%;
        padding: 1em;
        transition: left 1s;
        left: -100%; } }
    @media (max-width: 480px) {
      .nav-menu__links {
        width: calc(100% - 2em); } }
    @media (max-width: 992px) {
      .nav-menu__links--show {
        transition: left 1s;
        left: 0; } }
    .nav-menu__links a {
      margin: 0 1em;
      font: normal var(--secondary-font-size)/1.25 "Open Sans", sans-serif;
      padding: 5px 0;
      border-bottom: solid transparent 5px; }
      @media (max-width: 992px) {
        .nav-menu__links a {
          width: max-content; } }
      .nav-menu__links a:hover {
        border-color: rgb(var(--primary-color));
        transition: border 0.5s ease-out; }
  .nav-menu__logo {
    font-weight: 600;
    margin: 0 1em; }
    .nav-menu__logo span {
      color: rgb(var(--primary-font-color)); }
    @media (max-width: 480px) {
      .nav-menu__logo {
        margin: 0 auto; } }
  .nav-menu__bars {
    margin: 0 1em; }
    .nav-menu__bars:hover {
      color: rgb(var(--primary-font-color)); }
    @media (max-width: 480px) {
      .nav-menu__bars {
        margin: 0 5px; } }
    @media (min-width: 992px) {
      .nav-menu__bars {
        display: none; } }
    .nav-menu__bars:before {
      content: "";
      position: absolute;
      height: calc(100% + 1px);
      width: 100px;
      left: 0;
      top: 0; }
      @media (max-width: 480px) {
        .nav-menu__bars:before {
          width: 15vw; } }

.accesibility {
  position: relative;
  margin-left: auto;
  display: flex; }
  @media (max-width: 992px) {
    .accesibility {
      margin-right: 1em; } }
  @media (max-width: 480px) {
    .accesibility {
      margin-right: 5px; } }
  .accesibility__contrast {
    padding-left: 1em; }
    @media (max-width: 480px) {
      .accesibility__contrast {
        padding-left: 10px; } }
  .accesibility__sizing-menu {
    position: absolute;
    left: 6px;
    display: flex;
    flex-direction: column;
    top: calc(20px + 100%);
    background-color: rgb(var(--light-background-color));
    border: 1px solid rgba(var(--dark-color), 0.3);
    border-top-color: rgba(var(--dark-color), 0.1);
    z-index: 5;
    visibility: collapse; }
    .accesibility__sizing-menu--show {
      visibility: visible; }
  .accesibility__main-btn {
    width: 50px; }
    .accesibility__main-btn::before {
      content: "";
      position: absolute;
      height: 55px;
      width: inherit;
      left: 0;
      top: 0; }
  .accesibility__sizing-btn {
    font-family: "Playfair Display", serif;
    margin-right: auto;
    transition: color 0.5s ease-out; }
    .accesibility__sizing-btn:hover {
      color: rgb(var(--primary-font-color));
      transition: color 0.5s ease-out; }
    .accesibility__sizing-btn span {
      font-size: 15px;
      vertical-align: middle; }
    .accesibility__sizing-btn--contrast {
      padding: 0 0 0 1em; }
      @media (max-width: 480px) {
        .accesibility__sizing-btn--contrast {
          padding-left: 10px; } }

.section {
  min-height: 60vh; }
  .section--hero {
    color: rgb(var(--light-font-color)); }
  .section--dark {
    background-color: rgb(var(--dark-background-color));
    color: rgba(var(--light-font-color), 0.8);
    counter-increment: myCounter; }
    .section--dark h2,
    .section--dark h3 {
      color: rgba(var(--light-font-color), 0.8); }
    .section--dark p {
      color: rgba(var(--light-font-color), 0.7); }
  .section--light {
    background-color: rgb(var(--light-background-color));
    color: rgb(var(--dark-font-color));
    counter-increment: myCounter; }
    .section--light h2,
    .section--light h3 {
      color: rgb(var(--dark-font-color)); }
    .section--light p {
      color: rgba(var(--dark-font-color), 0.8); }
  .section__header {
    font-family: "Playfair Display", serif;
    position: relative;
    width: 70%;
    margin: 0 1em 1.5em 0.5em; }
    .section__header:before {
      content: "";
      background: rgb(var(--primary-color));
      position: absolute;
      bottom: 0.2em;
      left: -0.5em;
      height: 95%;
      width: 2px; }
    .section__header:after {
      content: counter(myCounter);
      font-family: "Open Sans", sans-serif;
      position: absolute;
      font-weight: 10em;
      font-size: 180px;
      z-index: -1;
      top: -45px;
      color: rgba(var(--dark-font-color), 0.1); }
    .section__header h2 {
      font-size: 1.3em;
      font-weight: 600;
      margin: 0; }
    .section__header h3 {
      font-size: 0.7em;
      margin: 0;
      letter-spacing: 2px;
      font-weight: 300; }
    .section__header--hero h2 {
      font-size: 2em; }
    .section__header--hero h3 {
      font-family: "Open Sans", sans-serif; }
  .section__images {
    display: grid;
    grid-template-columns: 1;
    line-height: 1;
    transition: opacity 0.5s ease-out; }
    @media (min-width: 768px) {
      .section__images {
        grid-template-columns: repeat(2, 45%);
        grid-gap: 10%; } }
    @media (min-width: 992px) {
      .section__images {
        grid-template-columns: repeat(4, 20%);
        grid-gap: 5%; } }
    .section__images a {
      margin-bottom: 1em; }
    .section__images a:hover img {
      transition: opacity 0.5s ease-out;
      opacity: 0.7; }
    .section__images img {
      max-width: 100%;
      object-fit: cover;
      height: 100%;
      min-width: 100%;
      max-height: calc(85vh / 3);
      min-height: 300px; }
    .section__images h3 {
      margin: 0.5em 0 0;
      font-size: 1em;
      transition: color 0.5s ease-out; }
      .section__images h3:hover {
        transition: color 0.5s ease-out;
        color: rgb(var(--primary-font-color)); }
    .section__images span {
      color: rgba(var(--dark-font-color), 0.8);
      font-size: 0.6em;
      font-family: "Open Sans", sans-serif; }

.hero {
  position: absolute;
  bottom: 10%;
  display: flex; }
  @media (max-width: 992px) {
    .hero {
      flex-direction: column; } }
  .hero__btn {
    margin: auto; }
    @media (max-width: 992px) {
      .hero__btn {
        margin-left: 10vw;
        margin-bottom: 1em; } }
  .hero__text {
    font-family: "Playfair Display", serif;
    position: relative;
    width: 60%;
    margin: auto; }
    @media (max-width: 992px) {
      .hero__text {
        margin-left: 10vw;
        margin-bottom: 1em; } }
    .hero__text:before {
      content: "";
      background: rgb(var(--primary-color));
      position: absolute;
      bottom: 0.2em;
      left: -0.5em;
      height: 80%;
      width: 2px; }
    .hero__text h2 {
      font-size: 2em;
      margin: 0; }
    .hero__text p {
      font-size: 1em;
      margin: 0;
      font-family: "Open Sans", sans-serif; }

.button__primary {
  font-family: "Playfair Display", serif;
  font-size: 0.7em;
  background-color: rgb(var(--primary-color));
  border-radius: 20px;
  color: rgb(var(--dark-color));
  padding: 1em 3em;
  font-weight: 600; }
  .button__primary:hover {
    background-color: rgba(var(--primary-color), 0.8); }

.container {
  margin: auto;
  width: 100%; }
  @media (min-width: 992px) {
    .container {
      max-width: 960px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px; } }

@media (min-width: 992px) {
  .lines {
    min-height: inherit;
    transform: translate3d(0, 0, 0); }
    .lines--light {
      background-image: linear-gradient(90deg, transparent, transparent 0, rgba(var(--light-background-lines), 0.2) 1px, transparent 1px), linear-gradient(90deg, transparent, transparent calc(100% - 1px), rgba(var(--light-background-lines), 0.2) 100%, transparent 100%), linear-gradient(90deg, transparent, transparent calc(100% / 4), rgba(var(--light-background-lines), 0.2) calc(100% / 4 + 1px), transparent calc(100% / 4 + 1px)), linear-gradient(90deg, transparent, transparent calc(100% / 2), rgba(var(--light-background-lines), 0.2) calc(100% / 2 + 1px), transparent calc(100% / 2 + 1px)), linear-gradient(90deg, transparent, transparent calc(100% / 4 * 3 - 1px), rgba(var(--light-background-lines), 0.2) calc(100% / 4 * 3), transparent calc(100% / 4 * 3 - 1px)); }
    .lines--dark {
      background-image: linear-gradient(90deg, transparent, transparent 0, rgba(var(--dark-background-lines), 0.2) 1px, transparent 1px), linear-gradient(90deg, transparent, transparent calc(100% - 1px), rgba(var(--dark-background-lines), 0.2) 100%, transparent 100%), linear-gradient(90deg, transparent, transparent calc(100% / 3), rgba(var(--dark-background-lines), 0.2) calc(100% / 3 + 1px), transparent calc(100% / 3 + 1px)), linear-gradient(90deg, transparent, transparent calc(100% / 3 * 2 - 1px), rgba(var(--dark-background-lines), 0.2) calc(100% / 3 * 2), transparent calc(100% / 3 * 2 - 1px)), linear-gradient(90deg, transparent, transparent calc(100% / 2), rgba(var(--dark-background-lines), 0.2) calc(100% / 2 + 1px), transparent calc(100% / 2 + 1px)); } }

.cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 30px; }
  @media (min-width: 992px) {
    .cards {
      grid-template-columns: repeat(2, 1fr); } }
  .cards__card {
    display: grid;
    grid-template-columns: auto; }
    @media (min-width: 992px) {
      .cards__card {
        grid-template-columns: 30% auto; } }
  .cards__icon {
    color: rgb(var(--primary-font-color));
    margin: auto; }
    @media (min-width: 992px) {
      .cards__icon {
        margin: 0 0 auto auto; } }
  .cards__descripton {
    margin-left: 1em; }
    .cards__descripton h3 {
      margin: 0;
      font-size: 1em; }
    .cards__descripton p {
      font-family: "Open Sans", sans-serif;
      font-size: 0.6em;
      line-height: 1.5; }

.columns {
  display: grid;
  grid-template-columns: repeat(2, 50%); }
  @media (max-width: 992px) {
    .columns {
      grid-template-columns: 1fr; } }
  .columns__header {
    font-weight: 600;
    font-size: 1em; }
  .columns__column {
    padding: 1em 1em 1em 0; }
  .columns__paragraph {
    font-size: 0.6em;
    line-height: 2;
    font-family: "Open Sans", sans-serif;
    color: rgba(var(--dark-font-color), 0.6);
    font-weight: 600; }

.list-year {
  list-style: none;
  font-family: "Open Sans", sans-serif; }
  .list-year__entry {
    display: inline-flex;
    font-size: 0.7em; }
  .list-year__year {
    margin: auto;
    font-weight: 600;
    white-space: nowrap; }
  .list-year__content {
    margin: 1em; }

/*# sourceMappingURL=main.css.map */
